.about {
    display: flex;
}
.about__item:not(:last-child) {
        margin-right: 30px;
}
.about__title {
        @include font (700, 14px, 1.14, 0.03em);
        text-transform: uppercase;
        color: var(--text-color);
}
.about__box {
        width: 270px;
        height: 120px;
        background: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;
        @extend %align-list;
        justify-content: center;
}
.about__text {
        @include font (null, 14px, 1.71, 0.03em);
        color: var(--lilte-text-color);
        margin-top: 10px;
}